body {
  /* користувацькі налаштуванна */
  margin-top: 250px;
}
.wrapper {
  z-index: -1;
  position: relative;

  /* користувацькі налаштуванна */
  margin: 0 auto;
  width: 800px;
  height: 400px;
  background: rgba(135, 206, 250, 0.4);
  border-radius: 8px;
}
.child1 {
  top: 90px;
  left: 310px;
  position: absolute;
  z-index: 1;

  /* користувацькі налаштуваня */
  background: lightcoral;
}
.child2 {
  top: 150px;
  left: 370px;
  position: absolute;
  z-index: 2;

  /* користувацькі налаштуваня */
  background: cornflowerblue;
}
.child3 {
  top: 200px;
  left: 420px;
  position: absolute;
  z-index: 1;

  /* користувацькі налаштування */
  background: rgb(136, 236, 136);
}
.child {
  /* користувацькі налаштування */
  width: 100px;
  height: 100px;
}
